## tweets sentiment analysis

In [ ]:
Objective 1: Get the most frequent entities from the tweets.
Objective 2: Find out the sentiment/polarity of each author towards each of the entities.
Sample Input:
Assume we have only 4 tweets:
Tweet1 by Author1: Pink Pearl Apples are tasty but Empire Apples are not.
Tweet2 by Author2: Empire Apples are very tasty.
Tweet3 by Author3: Pink Pearl Apples are not tasty.
Tweet4 by Author1: Pink Pearl Apples smells really good.

In [ ]:
import string
import json
 SentimentIntensityAnalyzer
from nltk.sentiment.util import *
from textblob import TextBlob

In [ ]:
import pandas as pd
import numpy as np
import nltk # natural language toolkit, so this is the main library for your natural language processing
import matplotlib.pyplot as plt

In [ ]:
from nltk.corpus import stopwords
#what are stopwords 
#ans #which are very frequency but do not addant meansing 
#example===> is, there,this



# later we will remove them

In [ ]:
stopwords.words('english')#so it show me all these stopwords for english language
# it is alredy inbulid

# and also uses in different language[arabic,french,german]

In [21]:
import string
#Strings in python are surrounded by either single quotation marks, or double quotation marks.

In [20]:
string.punctuation
#what are the punctuation????
#ans # these spacial characters['!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'] and 
#.....also this spacial charactors do not add any meaning to the meachine, probablythey are immatrial 

# later we will remove them also

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

**Import and Read the data**

In [ ]:
import json
#JSON stands for JavaScript Object Notation
#JSON is a lightweight format for storing and transporting data
#JSON is often used when data is sent from a server to a web page

In [ ]:
with open('/content/tweets.json') as jfile:
  json_file = json.load(jfile)

**Convert into Data Frame that easy to readable**

In [ ]:
df=pd.DataFrame(json_file)

In [ ]:
df.head(10)
##pandas. head () function is used to access the first n rows of a dataframe

                                       tweet_author                                         tweet_text
1374140386071961602              Hematopoiesis News  ⚕️ Scientists conducted a Phase II study of ac...
1374032432173842437                Michael Wang, MD  This phase 2 Acalabrutinib-Venetoclax (AV) tri...
1373902876553048065                     1stOncology  #NICE backs #AstraZenecas #Calquence for #CLL ...
1373656782367813635                       Toby Eyre  #acalabrutinib is a valuable option in pts int...
1372941634334232586                    Lymphoma Hub  NICE has recommended the use of acalabrutinib ...
1372927482278539265                    David Ledger  NICE backs AstraZeneca’s Calquence for CLL htt...
1372911723305394179            N Wales Cancer Forum  This is England for now - these decisions usua...
1372888121159868423  European Pharmaceutical Review  AstraZeneca’s Calquence (acalabrutinib), a che...
1372866915081797632                  Graham Collins  Superstar @tobyeyre82 responding to the excell...
1372825553837944834                     CLL Ireland  CLL patients all know the drug Ibrutinib and y...

**check null values**

**Total no of unique writer**

In [ ]:
print('total no of null valus in the data:\n',df.isnull().sum())

total no of null valus in the data:
 tweet_author    0
tweet_text      0
dtype: int64
total no tweet author: 9292

# 2) Clean the data and convert them into Machine Readable Code

In [ ]:
import re
#RegEx, or Regular Expression, is a sequence of characters that forms a search pattern.
#RegEx can be used to check if a string contains the specified search pattern.

In [ ]:
def dataclean_data():
  data = data.lower()
  data = re.sub(r'[^(a-zA-Z)\s]','', data)
    #The sub() function replaces the matches with the text of your choice
    
    '''^ Starts with "^hello"
[a-zA-Z] Returns a match for any character alphabetically between a and z, lower case OR upper case
\s Returns a match where the string contains a white space character "\s" '''

   


 #     remove urls
    data = re.sub(r'http\S+', " ", data)

'''\S Returns a match where the string DOES NOT contain a white space character "\S"
+ One or more occurrences "he.+o" '''


 
    
    #     remove mentions
    data = re.sub(r'@\w+',' ',data)
    
'''\w Returns a match where the string contains any word characters (characters from a to Z, digits from 0-9, and the underscore _ character)	"\w"
+ One or more occurrences "he.+o"  '''
    
    
    
 #     remove hastags
  data = re.sub(r'#\w+', ' ',data)
    
'''\w Returns a match where the string contains any word characters (characters from a to Z, digits from 0-9, and the underscore _ character)	"\w"
+ One or more occurrences "he.+o"  '''    
    
    
    
    
#     remove digits
  data = re.sub(r'\d+()', ' ', data)

'''\d Returns a match where the string contains digits (numbers from 0-9) "\d"
[0-9]	Returns a match for any digit between 0 and 9
() Capture and group  '''

    
    
    
#     remove html tags and umber
  data = re.sub('r<.*?>',' ', data)

'''* Zero or more occurrences "he.*o" '''
    
    
 #     remove stop words 
  data = data.split()
  data = " ".join([word for word in data if not word in stopword])
#The join() method takes all items in an iterable and joins them into one string.
  return data
df['tweet_text']=df['tweet_text'].apply(lambda x:clean_data(x))
#Pandas.apply allow the users to pass a function and apply it on every single value of the Pandas series. It comes as a huge improvement for the pandas library as this function helps to segregate data according to the conditions required due to which it is efficiently used in data science and machine learning.
#https://www.geeksforgeeks.org/python-pandas-apply/

#########################
def remove_punct(text):
    text  = "".join([char for char in text if char not in string.punctuation])
    text = re.sub('[0-9]+', '', text)
    '''[0-9] Returns a match for any digit between 0 and 9 
    + One or more occurrences "he.+o"'''
    #he sub() function replaces the matches with the text of your choice
    return text

df['tweet_text']= df['tweet_text'].apply(lambda x: remove_punct(x))


##############################
#Tokenization of the text data
def tokenization(text):
    text = re.split('\W+', text)
    '''\W Returns a match where the string DOES NOT contain any word characters"\W" '''
    #split()Returns a list where the string has been split at each match
    return text
df['tweet_text'] = df['tweet_text'].apply(lambda x: tokenization(x.lower()))

In [ ]:
############################################################

In [ ]:
# nopunc = [char for char in mess if char not in string.punctuation] ???
#ans# i am saying char for char in mess if char not in string.punctuation 
#.....what is string.punctuation contains??==>only punctuation ['!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~']
#when i am saying not string.punctuation it means it will not select the punctuation but it will select all the other thing
#.......wich means punctuations would be removed

In [3]:
import re

In [ ]:
txt = "The rain in Spain"
x = re.sub("\s", "9", txt)
print(x)

In [8]:
txt = "The rain in Spain"
x = re.sub('[^(a-zA-Z)\s]','', txt)#The sub() function replaces the matches with the text of your choice:
print(x)

The rain in Spain

In [ ]:
txt = "The rain in Spain"
x = re.split("\s", txt)
print(x)

In [2]:
txt = "welcome to the jungle"

x = txt.split()
#Strings in python are surrounded by either single quotation marks, or double quotation marks.

print(x)

['welcome', 'to', 'the', 'jungle']

In [1]:
myTuple = ("John", "Peter", "Vicky")

x = " ".join(myTuple)#The join() method takes all items in an iterable and joins them into one string.

print(x)

John Peter Vicky

In [ ]:
txt = "The rain in Spain"
x = re.sub("\s", "9", txt)
print(x)

In [ ]:
####################################3



#**Get the most frequent entities from the tweets. and we convert them into csv**

In [ ]:
df1=df['tweet_text']

**Steaming anf Lemitization of the code**

In [ ]:
ps = nltk.PorterStemmer()
def stemming(text):
    text = [ps.stem(word) for word in text]
    return text
df1 = df1.apply(lambda x: stemming(x))

In [ ]:
wn = nltk.WordNetLemmatizer()
def lemmatizer(text):
    text = [wn.lemmatize(word) for word in text]
    return text
df1= df1.apply(lambda x: lemmatizer(x))

**Stanford NLP NER**

In [ ]:
from nltk.tag.stanford import StanfordNERTagger

st = StanfordNERTagger('/content/stanford-ner-2018-10-16/classifiers/english.all.3class.distsim.crf.ser.gz',
                       '/content/stanford-ner-2018-10-16/stanford-ner.jar',
                       encoding='utf-8')

In [ ]:
classified_text = st.tag(df1)

In [ ]:
#Functions used
Here we will pass the inputs through the list as a dictionary data structure.

groupby(): groupby() is used to group the data based on the column values.
size(): This is used to get the size of the data frame.
sort_values(): This function sorts a data frame in Ascending or Descending order of passed Column.
The task is straightforward, for a given dataframe first we need to group by any column as per requirement and then arrange the grouped values of the column according to their size. By size here we mean how many times a value has appeared in a column or its frequency.



https://www.geeksforgeeks.org/how-to-sort-grouped-pandas-dataframe-by-group-size/

In [ ]:
entity= pd.DataFrame(classified_text,columns=['Entity Name','Entity Type'])

#Here We Remove Entities_type column from data we does not requierd this but the help to recgonized the type of entity

all_entities = (entity.groupby(by=['Entity Name'])
                          .size()
                          .sort_values(ascending=False)
                          .reset_index().rename(columns={0 : 'Frequency'}))
all_entities.head(10)

     Entity Name  Frequency
0  acalabrutinib       1306
1       calquenc        893
2        patient        790
3          covid        694
4    astrazeneca        599
5            cll        562
6          trial        425
7      lymphocyt        388
8        chronic        351
9       leukemia        342

In [ ]:
all_entities.to_csv('entity_csv')

# 3) Find out the sentiment/polarity of each author towards each of the entities

In [ ]:
from textblob import TextBlob
#TextBlob module is a Python library and offers a simple API to access its methods 
#...and perform basic NLP tasks. It is built on the top of NLTK module.

#Some terms that will be frequently used are
#Corpus – Body of text, singular. Corpora is the plural of this.
#Lexicon – Words and their meanings.
T#oken

In [ ]:
df['tweet_text'] = df['tweet_text'].astype('str')
def get_polarity(text):
  return TextBlob(text).sentiment.polarity
'''In short, text polarity is a measure of how negative or how positive a piece
of text is. Polarity is the measure of the overall combination of the positive 
and negative emotions in a sentence. It’s notoriously hard for computers to predict this, 
in fact it’s even hard for people to predict this over text.'''

df['Polarity'] = df['tweet_text'].apply(get_polarity)

In [ ]:
df.to_csv('sentiment_polarity')

In [ ]:
df.head(10)

                                       tweet_author  ...  Polarity
1374140386071961602              Hematopoiesis News  ...  0.000000
1374032432173842437                Michael Wang, MD  ...  0.000000
1373902876553048065                     1stOncology  ...  0.600000
1373656782367813635                       Toby Eyre  ...  0.100000
1372941634334232586                    Lymphoma Hub  ...  0.600000
1372927482278539265                    David Ledger  ...  0.600000
1372911723305394179            N Wales Cancer Forum  ... -0.250000
1372888121159868423  European Pharmaceutical Review  ...  0.000000
1372866915081797632                  Graham Collins  ...  0.800000
1372825553837944834                     CLL Ireland  ...  0.045455

[10 rows x 3 columns]